extends layout

block content
  h1= title
  p Welcome to #{title}, pug is a template engines
  button(type = "button", class="btn btn-info", onclick = "goFaster()") Press Me
  br
  div#faster Increase the speed
  script.
    var mph = 20;
    var change = 1;
    
    function goFaster() {
      mph = mph + change;
      change = change + 1;
      var div = document.getElementById('faster');
      div.innerHTML = "MPH " + mph + " with change " + change;
    }
  a(href="/apartment") click here to apartment Results